---
title: Chapter {{ page.chapter }}
---

<!DOCTYPE html>
<html>

<!-- Designed and developed by Muhammad Siddiq -->
<!-- The logo of PPMI Madinah is utilized with permission and is © 2024 PPMI Madinah. -->

<head>
    <title>Simulasi Ujian Qudurat PPMI Madinah 1445H</title>
    <meta name="title" content="Simulasi Ujian Qudurat PPMI Madinah 1445H" />
    <meta name="description" content="أسئلة الاختبار التجريبي للقدرات العامة للجامعيين" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://QuduratPSDM.gitlab.io/" />
    <meta property="og:title" content="Simulasi Ujian Qudurat PPMI Madinah 1445H" />
    <meta property="og:description" content="أسئلة الاختبار التجريبي للقدرات العمة للجامعيين" />
    <meta property="og:image" content="https://quduratpsdm.gitlab.io/images/thumb.webp" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://QuduratPSDM.gitlab.io/" />
    <meta property="twitter:title" content="Simulasi Ujian Qudurat PPMI Madinah 1445H" />
    <meta property="twitter:description" content="أسئلة الاختبار التجريبي للقدرات العامة للجامعيين" />
    <meta property="twitter:image" content="https://quduratpsdm.gitlab.io/images/thumb.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="site.webmanifest">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Tajawal:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="overlay"></div>
    <div id="start"></div>
    <div id="decor"><img src="images/LogoPPMI.svg"></div>
    <div id="decor2"><img src="images/decor2.svg"></div>
    <div id="decor4"><img src="images/decor2.svg"></div>

    <main>
        <header>
            <h2>Divisi PSDM</h2>
            <h1>Simulasi Ujian Qudurat</h1>
            <p id="announcement">&#9432; Simulasi telah berakhir pada 10 Februari 2024, dengan jumlah peserta 170</p>
            <a style="margin:0.5em 0; font-size: 0.75em;" href="/training">
                <div id="countdownWrapper">Training &nbsp;<span class="material-symbols-rounded">
                        arrow_forward
                    </span>
                    <div class="countdown" id="preCountdown"></div>
                    <div class="countdown smooth" id="countdown"></div>
                </div>
            </a>
        </header>
        <div id="artWrap"><img id="art" src="images/art.svg"></div>
    </main>
    <iframe style="display: none" id="form" data-url-index="{{ page.dataUrlIndex }}">
    </iframe>
    <img id="tooltip" src="images/openFullscreen.svg">
    <footer>
        <img id="logo" src="images/LogoPPMI.svg">
    </footer>
    <script src="js/fullscreen.js"></script>
    <script src="js/main.js"></script>
    <script src="js/pop.js"></script>
</body>

</html>