a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: linear-gradient(30deg, #05132e, #3968c0);
    background-size: 180% 180%;
    animation: gradient-animation 16s ease infinite;
    z-index: -3;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#overlay {
    display: none;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, 0.6);
}

#start {
    display: flex;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity 2s;
    background-color: black;
}

#decor img {
    position: fixed;
    height: 31em;
    bottom: -257px;
    right: -108px;
    opacity: 5%;
    z-index: -2;
}

#decor4 img,
#decor2 img {
    opacity: 0.1;
    position: absolute;
    height: 10vh;
    z-index: -2;
}

#decor2 img {
    display: flex;
    top: 17vh;
    left: -3vw;
}

#decor3 img {
    display: none;
    height: 10vh;
    position: absolute;
    top: 17vh;
    left: -10vw;
    opacity: 0.1;
}

#decor4 img {
    bottom: 18vh;
    left: -9vw;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

#artWrap {
    display: flex;
}

#art {
    height: clamp(257px, 28vw, 350px);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

#logo {
    width: auto;
    height: 4em;
    margin: 0.5em;
}

h1,
p {
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 1.25em;
    font-weight: lighter;
    color: #61D095;
}

#announcement {
    margin: 1.3em 0;
    font-size: 0.9em;
    opacity: 0.5;
}

#countdownWrapper {
    font-size: 1.5em;
    margin: 0;
    background-color: #ccdeee;
    color: #110d0d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.12), 0px 1.6px 3.6px rgba(0, 0, 0, 0.16);
}

#countdownWrapper:hover {
    background-color: #4a9be1;
}

#countdown {
    transition: font-size 0.5s;
}

#ready {
    display: none;
    position: absolute;
    bottom: 20vh;
    font-size: 1.5em;
    font-family: 'Tajawal', sans-serif;
    color: #982649;
    opacity: 0;
    transition: opacity 2s;
}

iframe {
    width: 70%;
    height: 80%;
    border: 0;
    margin: 0;
    border-radius: 10px;
    transition: height 1s;
}

#tooltip {
    opacity: 0.25;
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 1.4em;
}

#endOfTime {
    flex-direction: column;
    align-items: center;
    font-family: Tajawal, sans-serif;
    direction: rtl;
    justify-content: center;
}

#timeOver {
    font-size: 2.5em;
    margin: 0;
}

#redirect {
    font-size: 1.2em;
    margin: 0;
}

#clickHere {
    font-size: 0.8em;
    font-weight: 400;
}

a {
    color: #bdbdbd;
    mix-blend-mode: color-dodge;
}

footer {
    margin: 1em;
    position: fixed;
    bottom: 0;
    margin: 6px;
}

@media (max-width: 700px) {

    #announcement {
        font-size: 0.5em;
    }

    iframe {
        width: 100%;
        height: 80%;
    }

    main {
        justify-content: center;
    }

    header {
        align-items: center;
    }

    #decor img {
        height: 11em;
        bottom: -83px;
        right: -32px;
    }

    #decor2,
    #decor4 {
        display: none;
    }

    h2 {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.5em;
    }

    #countdownwrapper {
        font-size: 0.8em;
        position: relative;
    }

    #art {
        display: none;
    }

    #logo {
        height: 2em;
    }
}